#myBtn {
    width: 48px;
    height: 48px;
}

.buttonFile {
    width: 58px;
    height: 58px;
    font-size: 12;
}

#fillerOptions autoFillerButton {
    width: 38px;
    height: 38px;
    float: left;
}

#autoFillerButton {
    float: left;
}